<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    
    <f:render section="main" arguments="{_all}"/>

    <f:section name="main">
        <ul id="first-level">
            <f:for each="{mainMenu}" as="firstLevelItem">
                <f:if condition="{firstLevelItem.children}">
                    <f:then>
                        <li data-target="page{firstLevelItem.data.uid}">
                            <span>{firstLevelItem.data.title}</span>
                            <span class="arrow"></span>
                        </li>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{firstLevelItem.data.uid}">
                            <span>{firstLevelItem.data.title}</span>
                        </f:link.page>
                    </f:else>
                </f:if>
            </f:for>
        </ul>

        <f:for each="{mainMenu}" as="firstLevelItem">
            <f:if condition="{firstLevelItem.children}">
                <f:render section="submenu"
                          arguments="{parentItem: firstLevelItem, parentId: 'first-level', parentName: 'Main Menu'}"/>
            </f:if>
        </f:for>
    </f:section>

    <f:section name="submenu">
        <ul id="page{parentItem.data.uid}" class="submenu" style="display: none;">
            <div class="go-back" data-target="{parentId}"><span class="backarrow"></span> Back to {parentName}</div>
            <f:for each="{parentItem.children}" as="childItem">
                <f:if condition="{childItem.children}">
                    <f:then>
                        <li data-target="page{childItem.data.uid}">
                            <span>{childItem.data.title}</span>
                            <span class="arrow"></span>
                        </li>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{childItem.data.uid}">
                            <span>{childItem.data.title}</span>
                        </f:link.page>
                    </f:else>
                </f:if>
            </f:for>
        </ul>

        <f:for each="{parentItem.children}" as="childItem">
            <f:if condition="{childItem.children}">
                <f:render section="submenu"
                          arguments="{parentItem: childItem, parentId: 'page{parentItem.data.uid}', parentName: parentItem.data.title}"/>
            </f:if>
        </f:for>
    </f:section>

</f:spaceless>
</html>
